* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ecfdf5;

}

.container {
  min-height: 100vh;
  max-width:100%;
  display: flex;
  background: linear-gradient(135deg, #b2d8c6, #e6f7ee, #e6f7ee, #e6f7ee, #b2d8c6);
  justify-content: center;
  align-items: center;

}

.login-card {
    box-shadow: 0px 1px 10px #b2d8c6;

  background-color: white;
  width: 500px;
  height: 650px;
  padding: 30px;
  border-radius: 16px;
  border: 5px solid rgb(183, 255, 189);
  text-align: center;

}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo-circle {
  background-color: rgba(0, 170, 97);
  padding: 16px;
  border-radius: 50%;
  color: darkgreen;
  margin-top: 20px;




}

.logo-circle:hover {
  transform: scale(1.2);
  color: black;



}

.title {
  font-size: 25px;
  font-weight: 500;
  color: #22994e;

}

.subtitle {
  font-size: 20px;
  color: grey;
  margin-bottom: 10px;
  margin: 20px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 15px;
}

.dotgreen {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: rgba(0, 201, 80);
}

.dotblue {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: rgba(44, 127, 255);
}

.dotblack {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: black;
}

.input-box {
  display: flex;
  margin-left: 5px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 8px 10px;
  margin: 25px 0px 0px 0px;
}

.icon {
  margin-right: 15px;
  color: black;
}

input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
}

.recycle {
  color: white;
}

.login-btn {
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin: 15px 0px 15px 0px;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(0, 187, 88);
  font-size: 16px;

}

.login-btn:hover {
  background-color: rgba(0, 124, 80);

}

.admin1{
  display: block;
  width: 100%;
  text-align: left;
    font-size: 15px;
  color: rgba(0, 130, 54);
  cursor: pointer;
}
.admin1:hover {
  color: rgba(0, 130, 54);
  text-decoration:underline;
}
.admin {
    display: block;
  width: 100%;
  margin: 0px 0px 15px 0px;;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 130, 54);
  cursor: pointer;
text-align: center;
}
.admin:hover {
  color: rgba(0, 130, 54);
  text-decoration:underline;
}
.signup-btn1 {
  font-size: 15px;
  color: rgba(0, 130, 54);
  cursor: pointer;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
.signup-text{
  font-size: 15px;
  color: rgb(113, 113, 113);
}
.signup-btn1:hover {
  color: rgba(0, 130, 54);
  text-decoration:underline;
}
.signup-box{
  margin: 30px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.footer-text {
  font-size: 13px;
  color: rgb(119, 119, 119);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer-leaf{
  color: rgba(0, 130, 54);
}